@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body {
        color:#fff;
        background-color: darkcyan;
    }
    .tags{
        display: inline-block;
        background-color: crimson;
        color: #fff;
        font-size: 12px;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 20px;
    }
}